<!DOCTYPE html >
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <title>My TO Do List</title>
</head>
<body>
    <div class="box" id="heading">
    <h1><%= kindOfDay %> </h1>
    </div>

    
    <div class="box" >
        
        <%for (var i=0; i<newvalue.length; i++){%>
            <div class="item">
            <input type="checkbox" >
            <p><%= newvalue[i] %></p>
            </div>
        <% } %>
    
    
    
    <form class="item" action="/" method="post">
        <input type="text" name="item" placeholder="New Item" autocomplete="off">
        <button type="submit" name="List" value=<%= kindOfDay  %>>+</button>
    </form>
    </div>
    
</body>
</html>